<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bienvenue sur la page de Contact</title>
</head>
<body>
	<p> Bienvenue sur la page de contact </p>
	<a href="/">Retour</a>
</body>
</html>